<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BezoekersRegistratieSysteemUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BezoekersRegistratieSysteemUI.Properties.Settings>
            <setting name="URI" serializeAs="String">
                <value>http://notoutside.duckdns.org/api/</value>
				<!--<value>http://localhost:5049/api/</value>-->
            </setting>
        </BezoekersRegistratieSysteemUI.Properties.Settings>
    </applicationSettings>
</configuration>